:root {
    --main-white: white;
    --main-light: #d9d9d9;
    --main-light-2: #dc9788;
    --main-medium: #5b73df;
    --main-medium-2: #5f4945;
    --main-darkest: #363b54;
    --bg-body: #fbfcfb;
    --box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    --border: 1px solid rgba(190, 190, 191, .4);
    --font-small: 'IBM Plex Sans', sans-serif;
    --font-large: 'Poppins', sans-serif;
}

body {
    background-color:var(--bg-body);
    font-weight: bold;
    font-family: var(--font-small);
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--main-light-2);
    text-shadow: 1px 1px 1px rgb(192, 190, 190);
}

.content-wrapper {
    border: var(--border);
    box-shadow: var(--box-shadow);
    transition: .2s ease-in-out;
}

.content-wrapper:hover {
    transform: scale(1.02);
}

.btn-difficulty-wrapper, #answer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-difficulty-wrapper .btn, #answer-list button, #submit {
    transition: all .4s;
    margin-bottom: 6px;
    min-height: 70px;
    font-size: 2.7rem;
    color: var(--main-white);
}

.btn-difficulty-wrapper .btn, #answer-list button {
    background: linear-gradient(to left, var(--main-medium) 50%, var(--main-light) 50%) right;
    background-size: 220%;
    border: 1px solid var(--main-white);
    width: 100%;
    font-size: 1.6rem;
    font-family: var(--font-large);
}

.btn-difficulty-wrapper .btn:hover, #answer-list button:hover, #answer-list button:focus {
    background-position: left;
    transform: translateX(1rem);
    color: var(--main-medium-2);
    font-weight: bold;
}

#answer-list button:focus, #submit:hover {
    box-shadow: var(--box-shadow);
}

.initBtns h4, h4 {
    font-size: 1.5rem;
    color: var(--main-medium-2);
}

.loading {
    color: var(--main-medium-2);
    font-size: 3rem;
    font-style: italic;
}

#submit, .btn-reload {
    font-size: 2.7rem;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    background-color: var(--main-light-2);
    color: var(--main-white);
} 

#submit:hover, .btn-reload:hover {
    transform: translateY(-.25rem);
    font-weight: normal;
}

.quest-result-wrapper {
    font-size: 1.7rem;
    color: var(--main-light-2);
}

.message {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

.quest-result-wrapper p:nth-child(1) span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--main-darkest);
}

.progress, .number-correct {
    background-color: var(--main-light);
    z-index: -10;
    margin-bottom: 4px;
    position: relative;
    min-height: 20px;
    display: flex;
	align-items: center;
    border-radius: 15px;
}

.progress-done, .correct-done {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: bold;
    color: var(--main-darkest);
}

.progress-bar, .correct-bar {
    z-index: -1;
    border-radius: 15px;
    margin-bottom: 3px;
    min-height: 20px;
    position: absolute;    
}

.progress-bar {
    background: linear-gradient(to left, #ddebf8, #bec4f0);
	box-shadow: 0 3px 3px -5px #5c86b6, 0 2px 5px #acb9f3;
}

.correct-bar {
    background: linear-gradient(to left, #e5f3e6, #a2dda0);
	box-shadow: 0 3px 3px -5px #4ea75a, 0 2px 5px #a6ccac;
}

.final-score {
    font-size: 4.4rem;
    font-weight: bold;
    color: var(--main-medium);
}

.btn-reload {
    width: 75%;
    margin-bottom: 5px;
}